{% trans_default_domain 'general_views' %}

{% block app_bundle_image_upload_widget  %}
    {{ form_widget(form.children.binaryContent, {'attr': {'class': 'filestyle'}}) }}
{% endblock %}

{% block repeated_widget  %}
    <p class="new-pass-first">
        {{ form_widget(form.children.first) }}
    </p>
    <p class="new-pass-second">
        {{ form_widget(form.children.second) }}
    </p>
{% endblock %}