{% trans_default_domain 'dashboard' %}

{% if attendances is not empty %}
    {% for attendance in attendances %}
        <div class="delimiter">
            <div class="timed-attendances-row">
                <i class="fa fa-fw fa-calendar"></i>
                <span class="text-muted">{{ attendance.date|date('d.m.Y') }}</span>
            </div>
            <div class="timed-attendances-row">
                <i class="fa fa-fw fa-question"></i>
                <a class="reason" href="{{ path('attendance_show', {'id': attendance.id }) }}">{{ attendance.reason }}</a>
            </div>
            <div class="last-attendances-row">
                <i class="fa fa-fw fa-male"></i>
                <a class="link" href="{{ path('patient_show', {'id': attendance.patient.id}) }}">
                    {{ attendance.patient.lastName }} {{ attendance.patient.firstName }} {{ attendance.patient.middleName }}
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}