{% extends "::base.html.twig" %}

{% trans_default_domain 'twig_bundle' %}

{% block title %}{{ '500'|trans }}{% endblock %}

{% block page_title %}{% endblock %}

{% block avanzu_sidebar %}{% endblock %}

{% block page_content %}
    <div class="error-500 error alert alert-danger">
        <div class="error-500-msg">
            <h2>{{ 'Oops! An Error Occurred'|trans }}</h2>
            <div>
                {{ 'Something is broken. Please let us know what you were doing when this error occurred.
                    We will fix it as soon as possible. Sorry for any inconvenience caused.'|trans
                }}
            </div>
        </div>
        <a class="back-link" href="{{ path('dashboard') }}">{{ 'Back to dashboard'|trans }}</a>
    </div>
{% endblock %}