{% extends "::base.html.twig" %}

{% trans_default_domain 'twig_bundle' %}

{% block title %}{{ 'Access denied'|trans }}{% endblock %}

{% block page_title %}{% endblock %}

{% block avanzu_sidebar %}{% endblock %}

{% block page_content %}
    <div class="error-403 error alert alert-danger">
        <h1 class="error-header">{{ 'Access denied'|trans }}</h1>
        <div class="error-403-msg">
            {{ 'You have not access to this page. Check URL or contact us through feedback form'|trans }}
        </div>
        <a class="back-link" href="{{ path('dashboard') }}">{{ 'Back to dashboard'|trans }}</a>
    </div>
{% endblock %}