{% extends "::base.html.twig" %}

{% trans_default_domain 'twig_bundle' %}

{% block title %}{{ 'Not found'|trans }}{% endblock %}

{% block page_title %}{% endblock %}

{% block avanzu_sidebar %}{% endblock %}

{% block page_content %}
    <div class="error-404 error alert alert-warning">
        <h1 class="error-header">{{ 'Page not found'|trans }}</h1>
        <div class="error-404-msg">
            {{ 'The requested page couldn\'t be found. Checkout for any URL misspelling or contact us through feedback form'|trans }}
        </div>
        <a class="back-link" href="{{ path('dashboard') }}">{{ 'Back to dashboard'|trans }}</a>
    </div>
{% endblock %}