<div>{{ 'Hi, there is new contact us message'|trans }}</div>
<div>
    <span><strong>{{ 'Email:'|trans }}</strong></span>
    <span>{{ email }}</span>
</div>
<div>
    <span><strong>{{ 'Message:'|trans }}</strong></span>
    <span>{{ message }}</span>
</div>

