{% extends "::base.html.twig" %}

{% trans_default_domain 'admin' %}

{% block title %}{{ 'Manage entities'|trans }}{% endblock %}

{% block page_title %}{{ 'Manage Patients'|trans }}{% endblock %}

{% block page_content %}
    <div class="entity-control-bar">
        <a class="btn btn-sm btn-info" href="{{ path('patient_new') }}">{{ 'Add new patient'|trans }}</a>
    </div>

    {% if entities is not empty %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'Patients'|trans }}</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="patients-dashboard" class="entity-table table table-hover dataTable">
                    <thead>
                        <tr>
                            <th>{{ 'First name'|trans }}</th>
                            <th>{{ 'Last name'|trans }}</th>
                            <th>{{ 'Middle name'|trans }}</th>
                            <th>{{ 'Birthday'|trans }}</th>
                            <th>{{ 'Email'|trans }}</th>
                            <th>{{ 'Phone'|trans }}</th>
                            <th>{{ 'Doctor'|trans }}</th>
                            <th>{{ 'Created at'|trans }}</th>
                            <th>{{ 'Updated at'|trans }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.firstName }}</td>
                            <td>{{ entity.lastName }}</td>
                            <td>{{ entity.middleName }}</td>
                            <td>{{ entity.birthday|date('Y-m-d') }}</td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.phone }}</td>
                            <td>
                                {% if entity.user is not empty %}
                                    <a href="{{ path('user_edit', {'id': entity.user.id}) }}">{{ entity.user.username }}</a>
                                {% else %}
                                    <div>test</div>
                                {% endif %}
                            </td>
                            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
                            <td>
                                <a href="{{ path('patient_edit', {'id': entity.id}) }}" class="label label-info">{{ 'Edit'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Partials:_entity_not_found_message.html.twig') }}
    {% endif %}
{% endblock %}