{% trans_default_domain 'hospital' %}

{% block page_content %}
    <div class="new-entity-form hospital-form">
    {{ form_start(form, {'action': action, 'method': method}) }}
        <div class="form-group">
            {% if form.name.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.name) }}
                </div>
            {% endif %}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.region.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.region) }}
                </div>
            {% endif %}
            {{ form_widget(form.region, {'attr': {'class': 'form-control', 'placeholder': 'Region'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.city.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.city) }}
                </div>
            {% endif %}
            {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': 'City'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.country.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.country) }}
                </div>
            {% endif %}
            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {% if form.address.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.address) }}
                </div>
            {% endif %}
            {{ form_widget(form.address, {'attr': {'class': 'form-control', 'placeholder': 'Address'|trans}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-info entity-create'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
