{% extends "::base.html.twig" %}

{% trans_default_domain 'admin' %}

{% block title %}{{ 'Manage entities'|trans }}{% endblock %}

{% block page_title %}{{ 'Manage Users'|trans }}{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/admin-user.js') }}"></script>
{% endblock %}

{% block page_content %}
    <div class="entity-control-bar">
        <a class="btn btn-sm btn-info" href="{{ path('user_new') }}">{{ 'Add new user'|trans }}</a>
    </div>

    {% if entities is not empty %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'Users'|trans }}</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="users-dashboard" class="entity-table table table-hover dataTable">
                    <thead>
                        <tr>
                            <th>{{ 'Username'|trans }}</th>
                            <th>{{ 'First name'|trans }}</th>
                            <th>{{ 'Last name'|trans }}</th>
                            <th>{{ 'Email'|trans }}</th>
                            <th>{{ 'Role'|trans }}</th>
                            <th>{{ 'Hospital'|trans }}</th>
                            <th>{{ 'Department'|trans }}</th>
                            <th>{{ 'Member since'|trans }}</th>
                            <th>{{ 'Status'|trans }}</th>
                            <th>{{ 'Enabled'|trans }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.username }}</td>
                            <td>{{ entity.firstName }}</td>
                            <td>{{ entity.lastName }}</td>
                            <td>{{ entity.email }}</td>
                            <td>
                                {% set userRoles = entity|getRole %}
                                {% for key, value in userRoles %}
                                    {{ value }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% if entity.hospital.id != 0  %}
                                    <a href="{{ path('hospital_edit', {'id': entity.hospital.id}) }}">{{ entity.hospital.name }}</a>
                                {% else %}
                                    {{ 'Hospital is not set'|trans }}
                                {% endif %}
                            </td>
                            <td>
                                {% if entity.department is not null %}
                                    <a href="{{ path('department_edit', {'id': entity.department.id}) }}">{{ entity.department.name }}</a>
                                {% else %}
                                    {{ 'Department is not set'|trans }}
                                {% endif %}
                            </td>
                            <td>{{ entity.memberSince|date('Y-m-d H:i:s') }}</td>
                            <td>
                                {% set userStatusLabel = 'label-success' %}
                                {% set userStatusText = 'unlocked'|trans  %}
                                {% set userStatusIcon = 'unlock'  %}

                                {% if entity.locked == true %}
                                    {% set userStatusLabel = 'label-danger' %}
                                    {% set userStatusText = 'locked'|trans %}
                                    {% set userStatusIcon = 'lock'  %}
                                {% endif %}
                                <span data-toggle="modal" data-target="#lockUserModal" data-username="{{ entity.username }}" data-uid="{{ entity.id }}" class="user-status-modal label {{ userStatusLabel }}">
                                    <i class="fa fa-fw fa-{{ userStatusIcon }}"></i>
                                    <span class="status-text">{{ userStatusText|trans }}</span>
                                </span>
                            </td>
                            <td>
                                {% set userEnabledLabel = 'label-success' %}
                                {% set userEnabledText = 'enabled'|trans  %}

                                {% if entity.enabled != true %}
                                    {% set userEnabledLabel = 'label-danger' %}
                                    {% set userEnabledText = 'disabled'|trans %}
                                {% endif %}
                                <span class="user-enabled label {{ userEnabledLabel }}">{{ userEnabledText|trans }}</span>
                            </td>
                            <td>
                                <a href="{{ path('user_edit', {'id': entity.id}) }}" class="label label-info">{{ 'Edit'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {# User lock/unlock modal form  #}
                <div class="modal fade" id="lockUserModal" tabindex="-1" role="dialog" aria-labelledby="lockUserModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="text-muted modal-title" id="createUserModalLabel">{{ 'Lock/Unlock the user'|trans }}</h4>
                            </div>
                            <div class="modal-body">
                                <div id="message"></div>
                                <h4 class="text-muted">{{ 'Set status for '|trans }}<strong id="username"></strong></h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="user-status-toggle-btn btn btn-info pull-left" data-status="1">{{ 'Unlock'|trans }}</button>
                                <button type="button" class="user-status-toggle-btn btn btn-danger pull-right" data-status="0">{{ 'Lock'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Partials:_entity_not_found_message.html.twig') }}
    {% endif %}
{% endblock %}