{% extends "::base.html.twig" %}

{% trans_default_domain 'admin' %}

{% block title %}{{ 'Admin dashboard'|trans }}{% endblock %}

{% block page_title %}{{ 'Admin dashboard'|trans }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-4">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ usersCount }}</h3>
                    <p>{{ 'Total users'|trans }}</p>
                </div>
                <div class="icon">
                    <a title="{{ 'Add new user'|trans }}" href="{{ path('user_new') }}" class="admin-box-action-link">
                        <i class="fa fa-fw fa-user-plus"></i>
                    </a>
                </div>
                <a href="{{ path('admin_user_entity_list') }}" class="small-box-footer">{{ 'Go to users list '|trans }}<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}