{% extends '::base.html.twig' %}

{% trans_default_domain 'department' %}

{% block title %}{{ 'Manage entities'|trans }}{% endblock %}

{% block page_title %}{{ 'Edit department'|trans }}{% endblock %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-6 entity-edit-container">
            <div class="box box-info">
                <div class="box-header"><h4>{{ entity.name }}</h4></div>
                <div class="box-body">
                    {{ include('AppBundle:Department:form.html.twig', {'form': edit_form, 'action': path('department_update', {'id': entity.id}), 'method': 'PUT'}) }}
                    <div class="delete-form">{{ form(delete_form) }}</div>
                </div>
            </div>
            {{ include('AppBundle:Department:Partials/_department_back_links.html.twig') }}
        </div>
    </div>
{% endblock %}
