{% trans_default_domain 'department' %}

{% block page_content %}
    <div class="new-entity-form department-form">
        {{ form_start(form, {'action': action, 'method': method}) }}
        <div class="form-group">
            {% if form.name.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.name) }}
                </div>
            {% endif %}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.hospital.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.hospital) }}
                </div>
            {% endif %}
            {{ form_widget(form.hospital, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-info entity-create'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
