{% extends '::base.html.twig' %}

{% trans_default_domain 'department' %}

{% block title %}{{ 'Manage entities'|trans }}{% endblock %}

{% block page_title %}{{ 'Add department'|trans }}{% endblock %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-6 entity-edit-container">
            <div class="box box-info">
                <div class="box-header"><h4>{{ 'New department'|trans }}</h4></div>
                <div class="box-body">
                    {{ include('AppBundle:Department:form.html.twig', {'form': form, 'action': action, 'method': method}) }}
                </div>
            </div>
            {{ include('AppBundle:Department:Partials/_department_back_links.html.twig') }}
        </div>
    </div>
{% endblock %}