{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="account-conform-msg col-md-6 col-md-offset-3">
        <p class="text-center alert alert-success">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        <small><a class="pull-right text-muted" href="{{ path('dashboard') }}">{{ 'registration.back.home'|trans }}</a></small>
    </div>
{% endblock fos_user_content %}
