{% trans_default_domain 'FOSUserBundle' %}

<div class="register-form-container col-sm-6 col-sm-offset-3">
    <div class="register-form">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_errors(form.email, {'attr': {'class': 'bg-danger login-error'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'|trans}}) }}
            </div>

            <div class="form-group">
                {{ form_errors(form.username, {'attr': {'class': 'bg-danger login-error'}}) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Name'|trans}}) }}
            </div>

            <div class="form-group">
                {{ form_errors(form.plainPassword.first, {'attr': {'class': 'bg-danger login-error'}}) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'|trans}}) }}
            </div>

            <div class="form-group">
                {{ form_errors(form.plainPassword.second, {'attr': {'class': 'bg-danger login-error'}}) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repeat password'|trans}}) }}
            </div>

            <div class="form-group">
                <input class="btn btn-success btn-block btn-lg" type="submit" value="{{'registration.submit'|trans}}" />
            </div>

            {{ form_rest(form) }}
        </form>
        <div class="help-block sign-links">
            <div class="login-link">
                <a class="pull-left text-muted" href="{{ path('fos_user_security_login') }}"><small>{{ 'Login'|trans }}</small></a>
            </div>
            <div class="forgot-pass-link">
                <a class="pull-right text-muted" href="{{ path('fos_user_resetting_request') }}" ><small>{{ 'Forgot your password?'|trans }}</small></a>
            </div>
        </div>
    </div>
</div>
