{% trans_default_domain 'js' %}

{{ 'Country'|trans }}
{{ 'Roles'|trans }}
{{ 'Hospital'|trans }}
{{ 'Department'|trans }}
{{ 'locked'|trans }}
{{ 'unlocked'|trans }}
{{ 'User %thisUsername% was successfully %labelText%'|trans }}
{{ 'patients_filters.placeholders.sex'|trans }}
{{ 'patients_filters.placeholders.is_full_term'|trans }}
{{ 'patients_filters.placeholders.gestational_age'|trans }}
{{ 'patients_filters.placeholders.past_illnesses'|trans }}
{{ 'patients_filters.placeholders.atopy'|trans }}
{{ 'patients_filters.placeholders.allergy'|trans }}
{{ 'patients_filters.placeholders.treatment'|trans }}
{{ 'patients_filters.placeholders.disease'|trans }}
{{ 'patients_filters.placeholders.disease_severity'|trans }}
{{ 'patients_filters.placeholders.heredity'|trans }}
{{ 'patients_filters.placeholders.examination'|trans }}
{{ 'patients_filters.placeholders.accompanying_illnesses'|trans }}
{{ 'patients_filters.placeholders.sensibilization'|trans }}