{% extends '::base.html.twig' %}

{% trans_default_domain 'patient' %}

{% block title %}{{ 'Manage patients'|trans }}{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/entities/patient.js') }}"></script>
{% endblock %}

{% block page_title %}
    {{ 'Edit patient'|trans }} <span class="text-muted">{{ entity.firstName }} {{ entity.lastName }}</span>
{% endblock %}

{% block page_content -%}
    <div class="row">
        {# Form #}
        {{ include('AppBundle:Patient:form.html.twig', {'form': edit_form, 'action': path('patient_update', {'id': entity.id}), 'method': 'PUT'}) }}

        <div class="col-md-12">
            {# Delete form #}
            <div class="delete-form hidden">{{ form(delete_form) }}</div>

            {# Back links #}
            {{ include('AppBundle:Patient:Partials/_patient_back_links.html.twig', {'entity': entity}) }}
        </div>
    </div>
{% endblock %}
