{% trans_default_domain 'patient' %}

{% block page_content %}
    <div class="new-entity-form patient-form">
        {{ form_start(form, {'action': action, 'method': method, 'attr': {'novalidate': 'novalidate'}}) }}

        {# Pasport data #}
        <div class="col-md-6 entity-edit-container">
            <div class="box box-info">
                <div class="box-header">
                    <h4 class="box-title">{{ 'patient.tabs.labels.passport_data'|trans }}</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        {% if form.lastName.vars.errors.count() %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.lastName) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {% if form.firstName.vars.errors.count() %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.firstName) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {% if form.middleName.vars.errors.count() %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.middleName) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.middleName) }}
                        {{ form_widget(form.middleName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {% if form.birthday.vars.errors.count() %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.birthday) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.birthday) }}
                        {{ form_widget(form.birthday, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {% if form.email.vars.errors.count() %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.email) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {% if form.phone.vars.errors.count() %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.phone) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {% if form.address.vars.errors.count() %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.address) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    {# Actions #}
                    <div class="form-group">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-info entity-create'}}) }}

                        {% if method == 'PUT' %}
                            <a onclick="$('.delete-form button').click()" class="pull-right btn btn-danger">{{ 'Delete'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 entity-edit-container">
            <div class="box box-warning">
                <div class="box-header">
                    <h4 class="box-title">{{ 'patient.tabs.labels.medical_data'|trans }}</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        {% if form.commonData.vars.errors.count() %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.commonData) }}
                            </div>
                        {% endif %}
                        {{ form_label(form.commonData) }}
                        {{ form_widget(form.commonData, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    {# Patient filters #}
                    {{ include('AppBundle:Patient:Partials/_filters_form.html.twig', {'form': form.filters, 'childFields': true}) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
