{% extends '::base.html.twig' %}

{% trans_default_domain 'patient' %}

{% block title %}{{ 'Manage patients'|trans }}{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/entities/patient.js') }}"></script>
{% endblock %}

{% block page_title %}{{ 'Add patient'|trans }}{% endblock %}

{% block page_content -%}
    <div class="row">
        {# Form #}
        {{ include('AppBundle:Patient:form.html.twig', {'form': form, 'action': action, 'method': method}) }}

        {# Back links #}
        <div class="col-md-12">
            {{ include('AppBundle:Patient:Partials/_patient_back_links.html.twig', {'entity': null}) }}
        </div>
    </div>
{% endblock %}