{% extends '::base.html.twig' %}

{% trans_default_domain 'patient' %}

{% block title %}{{ 'Manage patients'|trans }}{% endblock %}

{% block page_title %}{{ entity.lastName }} {{ entity.firstName }} {{ entity.middleName|raw }}{% endblock %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-7 entity-view-container">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h4 class="box-title">{{ 'patient.tabs.labels.medical_data'|trans }}</h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    {% if entity.commonData is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.commonData.label'|trans }}</strong>
                            </h5>

                            <div>{{ entity.commonData|raw }}</div>
                        </div>
                    {% endif %}
                    {% if entity.diseaseDate is not empty  %}
                        {% set diseaseDate = entity.diseaseDate|json_decode %}
                    {% endif %}
                    {% if entity.disease is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.disease.label'|trans }}</strong>
                                <span class="text-muted">&#40;{{ 'patient.field.diseaseDate.label'|trans }}&#41;</span>
                            </h5>
                            {% for item in entity.disease %}
                                <div>
                                    {{ item }}
                                    {% if diseaseDate is defined and diseaseDate[item] is defined %}
                                        &#58;&#32;<span class="text-muted">{{ diseaseDate[item] }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if entity.diseaseSeverity is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.diseaseSeverity.label'|trans }}</strong>
                            </h5>
                            <div>{{ entity.diseaseSeverity }}</div>
                        </div>
                    {% endif %}
                    {% if entity.sex is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.sex.label'|trans }}</strong>
                            </h5>
                            <div>{{ entity.sex }}</div>
                        </div>
                    {% endif %}
                    {% if entity.fullTerm is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.fullTerm.label'|trans }}</strong>
                            </h5>
                            <div>
                                {% if entity.fullTerm == 1 %}
                                    {{ 'patient.fields.fullTerm.yes'|trans }}
                                {% else %}
                                    {{ 'patient.fields.fullTerm.no'|trans }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if entity.gestationalAge is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.gestationalAge.label'|trans }}</strong>
                            </h5>
                            <div>{{ entity.gestationalAge }}</div>
                        </div>
                    {% endif %}
                    {% if entity.pastIllnessesDate is not empty  %}
                        {% set pastIllnessesDate = entity.pastIllnessesDate|json_decode %}
                    {% endif %}
                    {% if entity.pastIllnesses is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.pastIllnesses.label'|trans }}</strong>
                                <span class="text-muted">&#40;{{ 'patient.field.pastIllnessesDate.label'|trans }}&#41;</span>
                            </h5>
                            {% for item in entity.pastIllnesses %}
                                <div>
                                    {{ item }}
                                    {% if pastIllnessesDate is defined and pastIllnessesDate[item] is defined %}
                                        &#58;&#32;<span class="text-muted">{{ pastIllnessesDate[item] }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if entity.atopy is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.atopy.label'|trans }}</strong>
                            </h5>
                            <div>{{ entity.atopy }}</div>
                        </div>
                    {% endif %}
                    {% if entity.allergyDate is not empty  %}
                        {% set allergyDate = entity.allergyDate|json_decode %}
                    {% endif %}
                    {% if entity.allergy is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.allergy.label'|trans }}</strong>
                                <span class="text-muted">&#40;{{ 'patient.field.allergyDate.label'|trans }}&#41;</span>
                            </h5>
                            {% for item in entity.allergy %}
                                <div>
                                    {{ item }}
                                    {% if allergyDate is defined and allergyDate[item] is defined %}
                                        &#58;&#32;<span class="text-muted">{{ allergyDate[item] }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if entity.sensibilization is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.sensibilization.label'|trans }}</strong>
                            </h5>
                            {% for item in entity.sensibilization %}
                                <div>{{ item }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if entity.treatment is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.treatment.label'|trans }}</strong>
                            </h5>
                            {% for item in entity.treatment %}
                                <div>{{ item }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if entity.heredityDisease is not empty  %}
                        {% set heredityDisease = entity.heredityDisease|json_decode %}
                    {% endif %}
                    {% if entity.heredity is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.heredity.label'|trans }}</strong>
                                <span class="text-muted">&#40;{{ 'patient.field.heredityDisease.label'|trans }}&#41;</span>
                            </h5>
                            {% for item in entity.heredity %}
                                <div>
                                    {{ item }}
                                    {% if heredityDisease is defined and heredityDisease[item] is defined %}
                                        &#58;&#32;<span class="text-muted">{{ heredityDisease[item] }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if entity.examinationDate is not empty  %}
                        {% set examinationDate = entity.examinationDate|json_decode %}
                    {% endif %}
                    {% if entity.examination is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.examination.label'|trans }}</strong>
                                <span class="text-muted">&#40;{{ 'patient.field.examinationDate.label'|trans }}&#41;</span>
                            </h5>
                            {% for item in entity.examination %}
                                <div>
                                    {{ item }}
                                    {% if examinationDate is defined and examinationDate[item] is defined %}
                                        &#58;&#32;<span class="text-muted">{{ examinationDate[item] }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if entity.accompanyingIllnesses is not empty %}
                        <div class="info-row delimiter">
                            <h5 class="title">
                                <strong>{{ 'patient.fields.accompanyingIllnesses.label'|trans }}</strong>
                            </h5>
                            {% for item in entity.accompanyingIllnesses %}
                                <div>{{ item }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-5 entity-view-container">
            <div class="box ">
                <div class="box-header with-border">
                    <h4 class="box-title">{{ 'patient.tabs.labels.passport_data'|trans }}</h4>
                </div>
                <div class="box-body">
                    <div class="entity-show-info-block">
                        {% if entity.birthday is not empty %}
                            <div class="info-row delimiter">
                                <h5 class="title">
                                    <strong>{{ 'patient.fields.birthday.label'|trans }}</strong>
                                </h5>
                                <div>{{ entity.birthday|date('d.m.Y') }}</div>
                            </div>
                        {% endif %}
                        {% if entity.email is not empty %}
                            <div class="info-row delimiter">
                                <h5 class="title">
                                    <strong>{{ 'patient.fields.email.label'|trans }}</strong>
                                </h5>
                                <div>{{ entity.email }}</div>
                            </div>
                        {% endif %}
                        {% if entity.phone is not empty %}
                            <div class="info-row delimiter">
                                <h5 class="title">
                                    <strong>{{ 'patient.fields.phone.label'|trans }}</strong>
                                </h5>
                                <div>{{ entity.phone }}</div>
                            </div>
                        {% endif %}
                        {% if entity.address is not empty %}
                            <div class="info-row delimiter">
                                <h5 class="title">
                                    <strong>{{ 'patient.fields.address.label'|trans }}</strong>
                                </h5>
                                <div>{{ entity.address }}</div>
                            </div>
                        {% endif %}
                    </div>
                    {% if entity.isDoctor(app.user) %}
                        <div class="entity-buttons">
                            <a class="btn btn-info entity-edit" href="{{ path('patient_edit', {'id': entity.id}) }}"
                               class="label label-info">{{ 'Edit'|trans }}</a>
                            <div class="delete-form">{{ form(delete_form) }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if entity.isDoctor(app.user) %}
        <div class="row">
            <div class="col-md-12">
                {{ include('AppBundle:Patient:Partials/_patient_back_links.html.twig', {'entity': entity}) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
