{% trans_default_domain 'partials' %}

<div class="contact-us-btn pull-right hidden-xs">
    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#contactUs">{{ 'Contact us'|trans }}</button>
</div>

<div class="contact-us-container">
    <div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="contactUsLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="createEntityModalLabel">{{ 'Leave your question or feedback'|trans }}</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>