{% trans_default_domain 'partials' %}

{# Success messages #}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        <div class="alert alert-success alert-dismissible">
            <span><i class="icon fa fa-check"></i></span>
            {{ flashMessage|trans|raw }}
        </div>
    </div>
{% endfor %}

{# Error messages #}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash-notice">
        <div class="alert alert-danger alert-dismissible">
            <span><i class="icon fa fa-ban"></i></span>
            {{ flashMessage|trans|raw }}
        </div>
    </div>
{% endfor %}

{# Patients filters messages #}
{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="flash-notice">
        <div class="alert alert-info alert-dismissible">
            <span><i class="icon fa fa-info"></i></span>
            {{ flashMessage|trans|raw }}
        </div>
    </div>
{% endfor %}