{% trans_default_domain 'attendance' %}

{% if patient is not null %}
    <div>
        <small class="back-to-list">
            <a class="text-muted" href="{{ path('patient_attendances_list', {'id': patient.id}) }}">
                {{ 'Back to the list of attendances for'|trans }} {{ patient.lastName }} {{ patient.firstName }} {{ patient.middleName }}
            </a>
        </small>
    </div>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <div>
        <small class="back-to-list">
            <a class="text-muted" href="{{ path('admin_attendance_entity_list') }}">
                {{ 'Back to the list of all attendances'|trans }}
            </a>
        </small>
    </div>
{% else %}
    <div>
        <small class="back-to-list">
            <a class="text-muted" href="{{ path('attendances_list') }}">
                {{ 'Back to the list of all my attendances'|trans }}
            </a>
        </small>
    </div>
{% endif %}