/* Global css */

.login-form-container,
.register-form-container,
.reset-request-form-container,
.reset-form-container,
.reset-check-email-container,
.reset-check-email-already-requested-container {
    top: 100px;
}

.reset-check-email-container,
.reset-check-email-already-requested-container,
.account-conform-msg {
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
}

.login-form,
.register-form,
.reset-request-form,
.reset-form {
    background-color: #EEE;
    border-radius: 10px;
    padding: 20px;
    color: grey;
}

.login-error,
.reset-check-email-already-requested,
.reset-check-email {
    border-radius: 5px;
    min-height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: grey;
}

.register-link a:hover {
    color: grey;
}

.sign-links {
    margin-bottom: 30px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    height: 45px;
}

.error-page {
    min-height: 150px;
}

.menu-delimiter {
    padding-bottom: 8px !important;
}

.entity-control-bar {
    margin-bottom: 20px;
}

.entity-del {
    float: right;
}

.entity-edit-container .entity-create,
.entity-edit-container .entity-edit,
.entity-view-container .entity-edit {
    float: left;
}

.user-status-modal {
    cursor: pointer;
}

.already-logged-msg {
    text-align: center;
    margin-top: 10px;
}

.flash-msg-container .flash-msg {
    text-align: center;
    margin-top: 15px;
}

.select2-selection--multiple .select2-search__field:focus {
    border: none !important;
}

.select2-selection--multiple .select2-search__field {
    padding-left: 6px;
}

.entity-table th, .title {
    color: #4c4e54;
}

.alert-info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}

.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}

.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}

.alert-warning {
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
}

.account-conform-msg {
    margin-top: 30px;
}

.dataTables_wrapper .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.dataTables_wrapper .pagination > li > a,
.dataTables_wrapper .pagination > li > span {
    padding: 5px 10px;
    font-size: 12px;
}
.dataTables_wrapper .pagination > li:first-child > a,
.dataTables_wrapper .pagination > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.dataTables_wrapper .pagination > li:last-child > a,
.dataTables_wrapper .pagination > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.entity-show-info-block {
    margin-bottom: 30px;
}

.delimiter {
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.back-to-list-in-block {
    margin-top: 20px;
}

.error .back-link {
    color: grey;
}

.error .error-header {
    margin-top: 0;
}

.timed-attendances-sidebar {
    max-height: 550px;
    overflow-y: scroll;
}

.sidebar-menu .header {
    text-transform: uppercase;
}

.today-attendances-status-msg-header {
    margin-bottom: 0;
}

a.admin-box-action-link {
    color: white;
}

.profile-user-img {
    border-radius: 5% !important;
}

label[for="appbundle_attendance_isAttended"] {
    padding-left: 0;
    font-weight: bold;
}

.select2-search__field {
   width: 300px !important;
}

@media (min-width: 768px) {
    .entity-filters-form div.filter-input {
        padding-right: 0;
    }

}

@media (max-width: 768px) {
    .filters-form-wrapper input[type="text"], .filters-form-wrapper .filter-input {
        margin-bottom: 10px;
    }
}
