{% extends "::base.html.twig" %}

{% trans_default_domain 'dashboard' %}

{% block title %}{{ 'Patients attendances'|trans }}{% endblock %}

{% block page_title %}{{ 'All my attendances'|trans }}{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/dashboard/attendances.js') }}"></script>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h4 class="box-title small">{{ 'Today visits'|trans }}</h4>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" class="badge bg-grey">{{ todayAttendances|length }}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="timed-attendances-sidebar box-body">
                    {% if todayAttendances is not empty %}
                        {{ include('AppBundle:Dashboard/Partials:_attendances_block.html.twig', {'attendances': todayAttendances}) }}
                    {% else %}
                        <div class="alert alert-warning">{{ 'dashboard.visits.boxes.not_attended.today'|trans }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <section class="col-md-12">
            {% if allAttendances is not empty %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'Attendances'|trans }}</h3>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="all-attendances-dashboard" class="text-muted entity-table table table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>{{ 'Date'|trans }}</th>
                                    <th>{{ 'Reason'|trans }}</th>
                                    <th>{{ 'Patient'|trans }}</th>
                                    <th>{{ 'Created at'|trans }}</th>
                                    <th>{{ 'Updated at'|trans }}</th>
                                    <th>{{ 'Actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for attendance in allAttendances %}
                                <tr>
                                    <td>{{ attendance.date|date('Y-m-d') }}</td>
                                    <td>
                                        <a title="{{ attendance.reason }}" href="{{ path('attendance_show', {'id': attendance.id}) }}">{{ attendance.reason|truncate(25) }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('patient_show', {'id': attendance.patient.id}) }}">{{ attendance.patient.lastName }} {{ attendance.patient.firstName }}</a>
                                        <a href="{{ path('attendance_new', {'id': attendance.patient.id}) }}" class="label pull-right label-success">
                                            <i class="fa fa-fw fa-plus"></i>
                                            {{ 'visit'|trans }}
                                        </a>
                                    </td>
                                    <td>{{ attendance.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ attendance.updatedAt|date('Y-m-d H:i:s') }}</td>
                                    <td>
                                        <a href="{{ path('attendance_show', {'id': attendance.id}) }}" class="label label-default">{{ 'View'|trans }}</a>
                                        <a href="{{ path('attendance_edit', {'id': attendance.id}) }}" class="label label-info">{{ 'Edit'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                {{ include('AppBundle:Partials:_entity_not_found_message.html.twig') }}
            {% endif %}
        </section>
        <section class="col-md-6 attendances-block">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h4 class="box-title">{{ 'Future visits'|trans }}</h4>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" class="badge bg-grey">{{ futureAttendances|length }}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="timed-attendances-sidebar box-body">
                    {% if futureAttendances is not empty %}
                        {{ include('AppBundle:Dashboard/Partials:_attendances_block.html.twig', {'attendances': futureAttendances}) }}
                    {% else %}
                        <div class="alert alert-warning">{{ 'dashboard.visits.boxes.not_attended.future'|trans }}</div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="col-md-6 attendances-block">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h4 class="box-title">{{ 'Past visits'|trans }}</h4>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" class="badge bg-grey">{{ pastAttendances|length }}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="timed-attendances-sidebar box-body">
                    {% if pastAttendances is not empty %}
                        {{ include('AppBundle:Dashboard/Partials:_attendances_block.html.twig', {'attendances': pastAttendances}) }}
                    {% else %}
                        <div class="alert alert-warning">{{ 'dashboard.visits.boxes.not_attended.past'|trans }}</div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="col-md-12 attendances-block">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h4 class="box-title">{{ 'dashboard.visits.boxes.not_attended.title'|trans }}</h4>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" class="badge bg-grey">{{ notAttended|length }}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="timed-attendances-sidebar box-body">
                    {% if notAttended is not empty %}
                        {{ include('AppBundle:Dashboard/Partials:_attendances_block.html.twig', {'attendances': notAttended}) }}
                    {% else %}
                        <div class="alert alert-warning">{{ 'dashboard.visits.boxes.not_attended.no_items'|trans }}</div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="col-md-12">
            <small class="back-to-list"><a href="{{ path('dashboard') }}">{{ 'Back to dashboard'|trans }}</a></small>
        </section>
    </div>
{% endblock %}