{% extends "::base.html.twig" %}

{% trans_default_domain 'dashboard' %}

{% block title %}{{ 'My patients'|trans }}{% endblock %}

{% block page_title %}{{ 'My patients'|trans }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="entity-control-bar">
                <a class="btn btn-sm btn-info" href="{{ path('patient_new') }}">{{ 'Add new patient'|trans }}</a>
            </div>
        </div>
        <div class="col-md-12">
            {% if patients is not empty %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'My patients'|trans }}</h3>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="my-patients-dashboard" class="text-muted entity-table table table-hover dataTable">
                            <thead>
                            <tr>
                                <th>{{ 'Last name'|trans }}</th>
                                <th>{{ 'First name'|trans }}</th>
                                <th>{{ 'Middle name'|trans }}</th>
                                <th>{{ 'Birthday'|trans }}</th>
                                <th>{{ 'Phone'|trans }}</th>
                                <th>{{ 'Created at'|trans }}</th>
                                <th>{{ 'Actions'|trans }}</th>
                                <th>{{ 'Attendances'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for patient in patients %}
                                <tr>
                                    <td>{{ patient.lastName }}</td>
                                    <td>{{ patient.firstName }}</td>
                                    <td>{{ patient.middleName }}</td>
                                    <td>{{ patient.birthday|date('Y-m-d') }}</td>
                                    <td>{{ patient.phone }}</td>
                                    <td>{{ patient.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td>
                                        <a target="_blank" href="{{ path('patient_show', {'id': patient.id}) }}"
                                           class="label label-default">{{ 'View'|trans }}</a>
                                        <a target="_blank" href="{{ path('patient_edit', {'id': patient.id}) }}"
                                           class="label label-info">{{ 'Edit'|trans }}</a>
                                    </td>
                                    <td>
                                        <a target="_blank" href="{{ path('patient_attendances_list', {'id': patient.id}) }}"
                                           class="label label-default">{{ 'See visits'|trans }}</a>
                                        <a target="_blank" href="{{ path('attendance_new', {'id': patient.id}) }}"
                                           class="label label-success">
                                            <i class="fa fa-fw fa-plus"></i>
                                            {{ 'visit'|trans }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                {{ include('AppBundle:Partials:_entity_not_found_message.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}