{% extends "::base.html.twig" %}

{% trans_default_domain 'dashboard' %}

{% block title %}{{ 'Patient attendances'|trans }}{% endblock %}

{% block page_title %}
    {{ 'Attendances of '|trans }}
    <a href="{{ path('patient_show', {'id': patient.id}) }}">{{ patient.lastName }} {{ patient.firstName }} {{ patient.middleName }}</a>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {# Attendance create link #}
            <div class="entity-control-bar">
                <a class="btn btn-info" href="{{ path('attendance_new', {'id': patient.id}) }}">{{ 'Add new attendance'|trans }}</a>
            </div>
        </div>
        <div class="col-md-12">
            {% if entities is not empty %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'Attendances'|trans }}</h3>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="patient-attendances-dashboard" class="text-muted entity-table table table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>{{ 'Date'|trans }}</th>
                                    <th>{{ 'Reason'|trans }}</th>
                                    <th>{{ 'Created at'|trans }}</th>
                                    <th>{{ 'Updated at'|trans }}</th>
                                    <th>{{ 'Actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.date|date('Y-m-d') }}</td>
                                    <td>
                                        <a title="{{ entity.reason }}" href="{{ path('attendance_show', {'id': entity.id}) }}">{{ entity.reason|truncate(30) }}</a>
                                    </td>
                                    <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
                                    <td>
                                        <a href="{{ path('attendance_show', {'id': entity.id}) }}" class="label label-default">{{ 'View'|trans }}</a>
                                        <a href="{{ path('attendance_edit', {'id': entity.id}) }}" class="label label-info">{{ 'Edit'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                {{ include('AppBundle:Partials:_entity_not_found_message.html.twig') }}
            {% endif %}
            <small class="back-to-list"><a class="text-muted" href="{{ path('dashboard') }}">{{ 'Back to dashboard'|trans }}</a></small>
        </div>
    </div>
{% endblock %}