{% extends "::base.html.twig" %}

{% trans_default_domain 'dashboard' %}

{% block title %}{{ 'patient_filters.title'|trans }}{% endblock %}

{% block page_title %}{{ 'patient_filters.title'|trans }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info collapsed-box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'Filters'|trans }}</h3>

                    <div class="box-tools pull-right">
                        {% if clearBtn == true %}
                            <a title="{{ 'patient_filters.clear_btn'|trans }}" href="{{ path('patients_filters') }}"><i class="fa fa-fw fa-refresh"></i></a>
                        {% endif %}
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    {# Patient filters #}
                    {{ form_start(filtersForm) }}
                    {{ include('AppBundle:Patient:Partials/_filters_form.html.twig', {'form': filtersForm, 'submit': true}) }}
                    {{ form_end(filtersForm) }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            {% if patients is not empty %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'Filtered patients'|trans }}</h3>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="patients-filters" class="text-muted entity-table table table-hover dataTable">
                            <thead>
                            <tr>
                                <th>{{ 'Last name'|trans }}</th>
                                <th>{{ 'First name'|trans }}</th>
                                <th>{{ 'Birthday'|trans }}</th>
                                <th>{{ 'Doctor'|trans }}</th>
                                <th>{{ 'Disease'|trans }}</th>
                                <th>{{ 'Actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for patient in patients %}
                                <tr>
                                    <td>{{ patient.lastName }}</td>
                                    <td>{{ patient.firstName }}</td>
                                    <td>{{ patient.birthday|date('Y-m-d') }}</td>
                                    <td>{{ patient.user }}</td>
                                    <td>{{ patient.disease|join(', ') }}</td>
                                    <td>
                                        <a target="_blank" href="{{ path('patient_show', {'id': patient.id}) }}"
                                           class="label label-default">{{ 'View'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                {{ include('AppBundle:Partials:_patients_filters_not_found_message.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}