{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="login-form-container col-md-6 col-md-offset-3">
        <div class="login-form">
            {% if error %}
                <div class="bg-danger login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <input placeholder="{{ 'Username or email address'|trans }}" type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group">
                    <input placeholder="{{ 'Password'|trans }}" type="password" class="form-control" id="password" name="_password" required="required" />
                </div>
                <div class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block btn-lg" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>
            </form>
            <div class="help-block sign-links">
                {#<div class="register-link">#}
                    {#<a class="pull-left text-muted" href="{{ path('fos_user_registration_register') }}"><small>{{ 'Register'|trans }}</small></a>#}
                {#</div>#}
                <div class="forgot-pass-link">
                    <a class="pull-right text-muted" href="{{ path('fos_user_resetting_request') }}" ><small>{{ 'Forgot your password?'|trans }}</small></a>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
