{% extends "::base.html.twig" %}

{% trans_default_domain 'admin' %}

{% block title %}{{ 'Manage entities'|trans }}{% endblock %}

{% block page_title %}{{ 'Manage Hospitals'|trans }}{% endblock %}

{% block page_content %}
    <div class="entity-control-bar">
        <a class="btn btn-sm btn-info" href="{{ path('hospital_new') }}">{{ 'Add new hospital'|trans }}</a>
    </div>

    {% if entities is not empty %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'Hospitals'|trans }}</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="hospitals-dashboard" class="entity-table table table-hover dataTable">
                    <thead>
                        <tr>
                            <th>{{ 'Name'|trans }}</th>
                            <th>{{ 'Region'|trans }}</th>
                            <th>{{ 'City'|trans }}</th>
                            <th>{{ 'Country'|trans }}</th>
                            <th>{{ 'Address'|trans }}</th>
                            <th>{{ 'Created at'|trans }}</th>
                            <th>{{ 'Updated at'|trans }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.region }}</td>
                            <td>{{ entity.city }}</td>
                            <td>{{ entity.country }}</td>
                            <td>{{ entity.address }}</td>
                            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
                            <td>
                                <a href="{{ path('hospital_edit', {'id': entity.id}) }}" class="label label-info">{{ 'Edit'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Partials:_entity_not_found_message.html.twig') }}
    {% endif %}
{% endblock %}