{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}"/>
        <link href="{{ asset('css/global.css') }}" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="already-logged-msg">
                    <small>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a class="text-muted" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% endif %}
                    </small>
                </div>

                {% for type, messages in app.session.flashbag.all() %}
                    <div class="flash-msg-container col-sm-6 col-sm-offset-3">
                        {% for message in messages %}
                            <div class="flash-msg alert alert-{{ type }} flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                  {% endfor %}

                <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
