{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="col-sm-6 col-sm-offset-3 reset-check-email-container">
    <div class="bg-success reset-check-email">
        {{ 'resetting.check_email'|trans({'%email%': email}) }}
    </div>
    <div class="login-link">
        <a class="btn btn-info btn-block btn-lg" href="{{ path('fos_user_security_login') }}"><small>{{ 'Back to login form'|trans }}</small></a>
    </div>
</div>
{% endblock %}
