{% trans_default_domain 'FOSUserBundle' %}

<div class="reset-request-form-container col-sm-6 col-sm-offset-3">
    <div class="reset-request-form">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div>
                {% if invalid_username is defined %}
                    <div class="bg-danger login-error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
                {% endif %}
                <div class="form-group">
                    <input placeholder="{{ 'Username or email address'|trans }}" class="form-control" type="text" id="username" name="username" required="required" />
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-success btn-block btn-lg" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </form>
        <div class="help-block sign-links">
            <div class="login-link">
                <a class="pull-right text-muted" href="{{ path('fos_user_security_login') }}"><small>{{ 'Back to login'|trans }}</small></a>
            </div>
        </div>
    </div>
</div>