{% trans_default_domain 'FOSUserBundle' %}

<div class="reset-form-container col-sm-6 col-sm-offset-3">
    <div class="reset-form">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
            <div class="form-group">
                {% if form.plainPassword.first.vars.errors.count() %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                {% endif %}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'New password'|trans}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repeat new password'|trans}}) }}
            </div>
            <div class="form-group">
                <input class="btn btn-success btn-block btn-lg" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
            {{ form_rest(form) }}
        </form>
        <div class="help-block sign-links">
            <div class="login-link">
                <a class="pull-right text-muted" href="{{ path('fos_user_security_login') }}"><small>{{ 'Back to login'|trans }}</small></a>
            </div>
        </div>
    </div>
</div>