{% trans_default_domain 'department' %}

<small class="back-to-list">
    <a class="text-muted" href="{{ path('admin_department_entity_list') }}">{{ 'Back to the list of departments'|trans }}</a>
</small>