<!-- User Account: style can be found in dropdown.less -->
{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}

{% trans_default_domain 'AvanzuAdminTheme' %}

<li class="user user-menu">
    <a title="{{ 'Profile'|trans }}" href="{{ path('profile_show') }}"><span class="glyphicon glyphicon-user"></span></a>
</li>
<li class="user user-menu">
    <a title="{{ 'Sign out'|trans }}" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span></a>
</li>
