{% extends '::base.html.twig' %}

{% trans_default_domain 'attendance' %}

{% block title %}{{ 'Manage attendances'|trans }}{% endblock %}

{% block page_title %}{{ 'Edit attendance'|trans }}{% endblock %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-6 entity-edit-container">
            <div class="box box-info">
                <div class="box-header"><h4>{{ 'Attendance for '|trans }} <strong>{{ entity.patient.firstName }} {{ entity.patient.lastName }}</strong></h4></div>
                <div class="box-body">
                    {{ include('AppBundle:Attendance:form.html.twig', {'form': edit_form, 'action': path('attendance_update', {'id': entity.id}), 'method': 'PUT'}) }}
                    <div class="delete-form">{{ form(delete_form) }}</div>
                </div>
            </div>
            {{ include('AppBundle:Attendance:Partials/_attendance_back_links.html.twig', {'patient': entity.patient}) }}
        </div>
    </div>
{% endblock %}
