{% trans_default_domain 'attendance' %}

{% block page_content %}
    <div class="new-entity-form attendance-form">
        {{ form_start(form, {'action': action, 'method': method}) }}
        <div class="form-group">
            {% if form.date.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.date) }}
                </div>
            {% endif %}
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
        </div>
        <div class="form-group">
            {% if form.reason.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.reason) }}
                </div>
            {% endif %}
            {{ form_label(form.reason) }}
            {{ form_widget(form.reason) }}
        </div>
        <div class="form-group">
            {% if form.description.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.description) }}
                </div>
            {% endif %}
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            {% if form.therapy.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.therapy) }}
                </div>
            {% endif %}
            {{ form_label(form.therapy) }}
            {{ form_widget(form.therapy, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {% if form.isAttended.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.isAttended) }}
                </div>
            {% endif %}
            {{ form_widget(form.isAttended) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-info entity-create'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}