{% extends '::base.html.twig' %}

{% trans_default_domain 'attendance' %}

{% block title %}{{ 'Manage attendances'|trans }}{% endblock %}

{% block page_title %}{{ entity.patient.lastName }} {{ entity.patient.firstName }} {{ entity.patient.middleName }}{% endblock %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-6 entity-view-container">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="title">
                        {{ 'Attendance'|trans }}
                        <span>{{ entity.date|date('d M Y') }}</span>
                    </h4>
                </div>
                <div class="box-body">
                    <div class="entity-show-info-block">
                        {% if entity.date is not empty %}
                            <div class="info-row delimiter">
                                <h5 class="title">
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <strong>{{ 'Date'|trans }}</strong>
                                </h5>
                                <div>{{ entity.date|date('d.m.Y') }}</div>
                            </div>
                        {% endif %}
                        {% if entity.reason is not empty %}
                            <div class="info-row delimiter">
                                <h5 class="title">
                                    <i class="fa fa-fw fa-question"></i>
                                    <strong>{{ 'Reason'|trans }}</strong>
                                </h5>
                                <div>{{ entity.reason }}</div>
                            </div>
                        {% endif %}
                        {% if entity.description is not empty %}
                            <div class="info-row delimiter">
                                <h5 class="title">
                                    <i class="fa fa-fw fa-info"></i>
                                    <strong>{{ 'Description'|trans }}</strong>
                                </h5>
                                <div>{{ entity.description|raw }}</div>
                            </div>
                        {% endif %}
                        {% if entity.therapy is not empty %}
                            <div class="info-row delimiter">
                                <h5 class="title">
                                    <i class="fa fa-fw fa-medkit"></i>
                                    <strong>{{ 'Therapy'|trans }}</strong>
                                </h5>
                                <div>{{ entity.therapy|raw }}</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="entity-buttons">
                        <a class="btn btn-info entity-edit" href="{{ path('attendance_edit', {'id': entity.id}) }}" class="label label-info">{{ 'Edit'|trans }}</a>
                        <div class="delete-form">{{ form(delete_form) }}</div>
                    </div>
                </div>
            </div>
            {{ include('AppBundle:Attendance:Partials/_attendance_back_links.html.twig', {'patient': entity.patient}) }}
        </div>
    </div>
{% endblock %}

