<div class="form-group">
    <span class="text-muted col-sm-5">{{ parentValuesItem|truncate(20, false, '...') }}</span>
    <div class="col-sm-7">
        <input value="{{ defaultValue }}" name="{{ field }}_{{ index }}" class="form-control child" id="{{ field }}_{{ index }}" data-item="{{ parentValuesItem }}">
    </div>
</div>