{% trans_default_domain 'patient' %}

{% set boxHiddenClass = parentValues|length == 0 ? 'hidden' : '' %}
<div class="box patient-child-fields-box {{ boxHiddenClass }}" data-wrapper="{{ field }}">
    <div class="box-header with-border">
        <label>{{ label }}</label>
    </div>
    <div class="box-body form-horizontal">
        {% for parentValuesItem in parentValues %}
            {% set defaultValue = values[parentValuesItem] is defined ? values[parentValuesItem] : '' %}
            {{ include('AppBundle:Patient:Partials/_filters_child_field.html.twig', {'index': loop.index, 'defaultValue': defaultValue, 'parentValuesItem': parentValuesItem, 'field': field}) }}
        {% endfor %}
    </div>
</div>
