{% trans_default_domain 'patient' %}

<div class="form-group">
    {% if form.disease.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.disease) }}
        </div>
    {% endif %}
    {{ form_label(form.disease) }}
    {{ form_widget(form.disease, {'attr': {'class': 'form-control'}}) }}
</div>
{% if childFields is defined %}
    {# Disease date #}
    {{ include('AppBundle:Patient:Partials/_filters_child_fields_box.html.twig', {'values': form.vars.value.diseaseDate|json_decode, 'parentValues': form.vars.value.disease, 'field': 'diseaseDate', 'label': 'patient.field.diseaseDate.label'|trans}) }}
{% endif %}
<div class="form-group">
    {% if form.diseaseSeverity.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.diseaseSeverity) }}
        </div>
    {% endif %}
    {{ form_label(form.diseaseSeverity) }}
    {{ form_widget(form.diseaseSeverity, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {% if form.sex.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.sex) }}
        </div>
    {% endif %}
    {{ form_label(form.sex) }}
    {{ form_widget(form.sex, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {% if form.fullTerm.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.fullTerm) }}
        </div>
    {% endif %}
    {{ form_label(form.fullTerm) }}
    {{ form_widget(form.fullTerm, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {% if form.gestationalAge.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.gestationalAge) }}
        </div>
    {% endif %}
    {{ form_label(form.gestationalAge) }}
    {{ form_widget(form.gestationalAge, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {% if form.pastIllnesses.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.pastIllnesses) }}
        </div>
    {% endif %}
    {{ form_label(form.pastIllnesses) }}
    {{ form_widget(form.pastIllnesses, {'attr': {'class': 'form-control'}}) }}
</div>
{% if childFields is defined %}
    {# Past illnesses date #}
    {{ include('AppBundle:Patient:Partials/_filters_child_fields_box.html.twig', {'values': form.vars.value.pastIllnessesDate|json_decode, 'parentValues': form.vars.value.pastIllnesses, 'field': 'pastIllnessesDate', 'label': 'patient.field.pastIllnessesDate.label'|trans}) }}
{% endif %}
<div class="form-group">
    {% if form.atopy.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.atopy) }}
        </div>
    {% endif %}
    {{ form_label(form.atopy) }}
    {{ form_widget(form.atopy, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {% if form.allergy.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.allergy) }}
        </div>
    {% endif %}
    {{ form_label(form.allergy) }}
    {{ form_widget(form.allergy, {'attr': {'class': 'form-control'}}) }}
</div>
{% if childFields is defined %}
    {# Allergy date #}
    {{ include('AppBundle:Patient:Partials/_filters_child_fields_box.html.twig', {'values': form.vars.value.allergyDate|json_decode, 'parentValues': form.vars.value.allergy, 'field': 'allergyDate', 'label': 'patient.field.allergyDate.label'|trans}) }}
{% endif %}
<div class="form-group">
    {% if form.sensibilization.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.sensibilization) }}
        </div>
    {% endif %}
    {{ form_label(form.sensibilization) }}
    {{ form_widget(form.sensibilization, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {% if form.treatment.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.treatment) }}
        </div>
    {% endif %}
    {{ form_label(form.treatment) }}
    {{ form_widget(form.treatment, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {% if form.heredity.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.heredity) }}
        </div>
    {% endif %}
    {{ form_label(form.heredity) }}
    {{ form_widget(form.heredity, {'attr': {'class': 'form-control'}}) }}
</div>
{% if childFields is defined %}
    {# Heredity disease #}
    {{ include('AppBundle:Patient:Partials/_filters_child_fields_box.html.twig', {'values': form.vars.value.heredityDisease|json_decode, 'parentValues': form.vars.value.heredity, 'field': 'heredityDisease', 'label': 'patient.field.heredityDisease.label'|trans}) }}
{% endif %}
<div class="form-group">
    {% if form.examination.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.examination) }}
        </div>
    {% endif %}
    {{ form_label(form.examination) }}
    {{ form_widget(form.examination, {'attr': {'class': 'form-control'}}) }}
</div>
{% if childFields is defined %}
    {# Examination date #}
    {{ include('AppBundle:Patient:Partials/_filters_child_fields_box.html.twig', {'values': form.vars.value.examinationDate|json_decode, 'parentValues': form.vars.value.examination, 'field': 'examinationDate', 'label': 'patient.field.examinationDate.label'|trans}) }}
{% endif %}
<div class="form-group">
    {% if form.accompanyingIllnesses.vars.errors.count() %}
        <div class="alert alert-danger">
            {{ form_errors(form.accompanyingIllnesses) }}
        </div>
    {% endif %}
    {{ form_label(form.accompanyingIllnesses) }}
    {{ form_widget(form.accompanyingIllnesses, {'attr': {'class': 'form-control'}}) }}
</div>
{% if submit is defined %}
    <div class="form-group">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
    </div>
{% endif %}