{% trans_default_domain 'patient' %}

{% if entity is not null %}
    <div>
        <small class="back-to-list">
            <a class="text-muted" href="{{ path('patient_attendances_list', {'id': entity.id}) }}">
                {{ 'Back to the list of attendances for'|trans }} {{ entity.lastName }} {{ entity.firstName }} {{ entity.middleName }}
            </a>
        </small>
    </div>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <div>
        <small class="back-to-list">
            <a class="text-muted" href="{{ path('admin_patient_entity_list') }}">
                {{ 'Back to the list of all patients'|trans }}
            </a>
        </small>
    </div>
{% else %}
    <div>
        <small class="back-to-list">
            <a class="text-muted" href="{{ path('dashboard') }}">
                {{ 'Back to the list of my patients'|trans }}
            </a>
        </small>
    </div>
{% endif %}