{% trans_default_domain 'profile' %}

<div class="col-md-9">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#settings" data-toggle="tab" aria-expanded="true">{{ 'Settings'|trans }}</a></li>
        </ul>
        <div class="tab-content">
            {# Flashbag messages #}
            {{ include('AppBundle:Partials:_flash_messages.html.twig') }}

            <div class="tab-pane active" id="settings">
                {{ form_start(form, {'action': path('profile_show'), 'attr': {'class': 'form-horizontal fos_user_profile_edit'}}) }}
                    <div class="form-group">
                        <label for="image" class="col-sm-2 control-label">{{ form_label(form.image) }}</label>
                        <div class="col-sm-10">
                            {% if form.image.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.image) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.image) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">{{ form_label(form.username) }}</label>
                        <div class="col-sm-10">
                            {% if form.username.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.username) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.username) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">{{ form_label(form.email) }}</label>
                        <div class="col-sm-10">
                            {% if form.email.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.email) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">{{ form_label(form.firstName) }}</label>
                        <div class="col-sm-10">
                            {% if form.firstName.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.firstName) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-2 control-label">{{ form_label(form.lastName) }}</label>
                        <div class="col-sm-10">
                            {% if form.lastName.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.lastName) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.lastName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="position" class="col-sm-2 control-label">{{ form_label(form.position) }}</label>
                        <div class="col-sm-10">
                            {% if form.position.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.position) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.position) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="department" class="col-sm-2 control-label">{{ form_label(form.department) }}</label>
                        <div class="col-sm-10">
                            {% if form.department.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.department) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="skype" class="col-sm-2 control-label">{{ form_label(form.skype) }}</label>
                        <div class="col-sm-10">
                            {% if form.skype.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.skype) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.skype) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="education" class="col-sm-2 control-label">{{ form_label(form.education) }}</label>
                        <div class="col-sm-10">
                            {% if form.education.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.education) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.education) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">{{ form_label(form.phone) }}</label>
                        <div class="col-sm-10">
                            {% if form.phone.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.phone) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.phone) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="current_password" class="col-sm-2 control-label">{{ form_label(form.current_password) }}</label>
                        <div class="col-sm-10">
                            {% if form.current_password.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.current_password) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.current_password) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="plain_password" class="col-sm-2 control-label">{{ 'New password'|trans }}</label>
                        <div class="col-sm-10">
                            {% for flashMessage in app.session.flashbag.get('password_update_error') %}
                                <div class="flash-notice">
                                    <div class="alert alert-danger alert-dismissible">
                                        <span><i class="icon fa fa-ban"></i></span>
                                        {{ flashMessage|trans|raw }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if form.plain_password.first.vars.errors.count() %}
                                <div class="alert alert-danger">
                                    {{ form_errors(form.plain_password.first) }}
                                </div>
                            {% endif %}
                            {{ form_widget(form.plain_password) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info pull-right">{{ 'Save'|trans }}</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>