{% extends "::base.html.twig" %}

{% trans_default_domain 'profile' %}

{% block title %}{{ 'Profile'|trans }}{% endblock %}

{% block page_title %}{{ 'Profile'|trans }}{% endblock %}

{% block page_content %}
    <div class="row">
        {% include "AppBundle:Profile:show_content.html.twig" %}
        {% include "AppBundle:Profile:edit_content.html.twig" %}
    </div>
{% endblock %}
