{% trans_default_domain 'profile' %}

<div class="col-md-3">
    <div class="box box-success">
        <div class="box-body box-profile">
            {% media user.image, 'small' with {'class': 'profile-user-img img-responsive'} %}
            <h3 class="profile-username text-center">{{ user.firstName }} {{ user.lastName }}</h3>
            <p class="text-muted text-center">{{ user.position|trans }}</p>
            <p class="text-muted text-center small">{{ 'Member since %date%'|trans({'%date%': user.memberSince|date('d.m.Y') }, 'AvanzuAdminTheme') }}</p>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'About Me'|trans }}</h3>
        </div>
        <div class="box-body">
            {% if user.email is not empty %}
                <strong><i class="fa fa-envelope margin-r-5"></i>{{ 'Email'|trans }}</strong>
                <p class="text-muted">{{ user.email }}</p>
                <hr>
            {% endif %}
            {% if user.hospital is not empty %}
                <strong><i class="fa fa-fw fa-hospital-o"></i>{{ 'Hospital'|trans }}</strong>
                <p class="text-muted">{{ user.hospital }}</p>
                <hr>
            {% endif %}
            {% if user.department is not empty %}
                <strong><i class="fa fa-fw fa-sitemap"></i>{{ 'Department'|trans }}</strong>
                <p class="text-muted">{{ user.department }}</p>
                <hr>
            {% endif %}
            {% if user.skype is not empty %}
                <strong><i class="fa fa-skype margin-r-5"></i>{{ 'Skype'|trans }}</strong>
                <p class="text-muted">{{ user.skype }}</p>
                <hr>
            {% endif %}
            {% if user.phone is not empty %}
                <strong><i class="fa fa-phone margin-r-5"></i>{{ 'Phone'|trans }}</strong>
                <p class="text-muted">{{ user.phone }}</p>
                <hr>
            {% endif %}
            {% if user.education is not empty %}
                <strong><i class="fa fa-book margin-r-5"></i>{{ 'Education'|trans }}</strong>
                <p class="text-muted">{{ user.education }}</p>
                <hr>
            {% endif %}
        </div>
    </div>
</div>
