{% extends '::base.html.twig' %}

{% trans_default_domain 'user' %}

{% block title %}{{ 'Manage entities'|trans }}{% endblock %}

{% block page_title %}{{ 'Edit user'|trans }}{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/admin-user.js') }}"></script>
{% endblock %}

{% block page_content -%}
    <div class="row">
        <div class="col-md-6 entity-edit-container">
            <div class="box box-info">
                <div class="box-header"><h4>{{ entity.username }}</h4></div>
                <div class="box-body">
                    {{ include('AppBundle:User:form.html.twig', {'form': edit_form, 'action': path('user_update', {'id': entity.id}), 'method': 'PUT'}) }}
                    {% if not entity.hasRole('ROLE_ADMIN') %}
                        <div class="delete-form">{{ form(delete_form) }}</div>
                    {% endif %}
                </div>
            </div>
            {{ include('AppBundle:User:Partials/_user_back_links.html.twig') }}
        </div>
    </div>
{% endblock %}
