{% trans_default_domain 'user' %}

{% block page_content %}
    <div class="new-entity-form user-form">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'action': action, 'method': method}) }}
        <div class="form-group">
            {% if form.username.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.username) }}
                </div>
            {% endif %}
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Login'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.email.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.email) }}
                </div>
            {% endif %}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.firstName.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.firstName) }}
                </div>
            {% endif %}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First name'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.lastName.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.lastName) }}
                </div>
            {% endif %}
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last name'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.skype.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.skype) }}
                </div>
            {% endif %}
            {{ form_widget(form.skype, {'attr': {'class': 'form-control', 'placeholder': 'Skype'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.position.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.position) }}
                </div>
            {% endif %}
            {{ form_widget(form.position, {'attr': {'class': 'form-control', 'placeholder': 'Position'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.education.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.education) }}
                </div>
            {% endif %}
            {{ form_widget(form.education, {'attr': {'class': 'form-control', 'placeholder': 'Education'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.phone.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.phone) }}
                </div>
            {% endif %}
            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Phone'|trans}}) }}
        </div>
        <div class="form-group">
            {% if form.roles.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.roles) }}
                </div>
            {% endif %}
            {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {% if form.hospital.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.hospital) }}
                </div>
            {% endif %}
            {{ form_widget(form.hospital, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {% if form.plainPassword.vars.errors.count() %}
                <div class="alert alert-danger">
                    {{ form_errors(form.plainPassword) }}
                </div>
            {% endif %}
            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Password'|trans}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-info entity-create'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
