{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}

{% trans_default_domain 'AvanzuAdminTheme' %}
<!doctype html>
<!--[if lt IE 7 ]>
<html lang="{{ app.request.locale|split('_')[0] }}" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>
<html lang="{{ app.request.locale|split('_')[0] }}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>
<html lang="{{ app.request.locale|split('_')[0] }}" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>
<html lang="{{ app.request.locale|split('_')[0] }}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="{{ app.request.locale|split('_')[0] }}" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}{{ 'Patients Manager'|trans }}{% endblock %}</title>

        {# -------------------------------------------------------------------------------------------------- STYLESHEETS #}
        {% block stylesheets %}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"
                  rel="stylesheet"/>
            <link rel="stylesheet"
                  href="{{ asset('bundles/avanzuadmintheme/static/'~app.environment~'/styles/admin-lte-all.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/avanzuadmintheme/vendor/adminlte/plugins/iCheck/flat/red.css') }}">
            <link rel="stylesheet" href="{{ asset('css/global.css') }}"/>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

        {# --------------------------------------------------------------------------------------------- JAVASCRIPTS_HEAD #}
        {% block javascripts_head %}
            <script type="text/javascript"
                    src="{{ asset('bundles/avanzuadmintheme/static/'~app.environment~'/scripts/modernizr.js') }}"></script>
            <script src="{{ asset('bundles/avanzuadmintheme/static/'~app.environment~'/scripts/admin-lte-all.js') }}"></script>
            <!--[if lt IE 9]><![endif]-->
            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script src="{{ url('bazinga_jstranslation_js', {'domain': 'js'}) }}"></script>
            <script type="text/javascript"
                    src="{{ asset('vendor/bootstrap-filestyle/src/bootstrap-filestyle.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/jquery.nicescroll/jquery.nicescroll.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/ru.js"></script>
            <script type="text/javascript" src="{{ asset('js/global.js') }}"></script>
        {% endblock %}

    </head>
    <body class="sidebar-mini {{ admin_skin|default('skin-red') }}">
        <div class="wrapper">
            {% block avanzu_admin_header %}
                <header class="main-header">
                    {% block avanzu_logo %}
                        <a href="{{ url('dashboard') }}" class="logo">
                            <span class="logo-mini"><strong>{{ 'P'|trans }}</strong>{{ 'M'|trans }}</span>
                            <span class="logo-lg"><strong>{{ 'Patients Manager'|trans }}</strong></span>
                        </a>
                    {% endblock %}
                    <nav class="navbar navbar-static-top" role="navigation">
                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">{{ 'Toggle navigation'|trans }}</span>
                        </a>
                        {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">
                                    {% block avanzu_navbar %}
                                        {{ render(controller('AvanzuAdminThemeBundle:Navbar:messages')) }}
                                        {{ render(controller('AvanzuAdminThemeBundle:Navbar:notifications')) }}
                                        {{ render(controller('AvanzuAdminThemeBundle:Navbar:tasks')) }}
                                        {{ render(controller('AvanzuAdminThemeBundle:Navbar:user')) }}
                                    {% endblock %}
                                </ul>
                            </div>
                        {% endif %}
                    </nav>
                </header>
            {% endblock %}

            <aside class="main-sidebar sidebar-offcanvas">
                <section class="sidebar">
                    {% block avanzu_sidebar %}
                        {{ render(controller('AvanzuAdminThemeBundle:Sidebar:menu', {'request':app.request})) }}
                    {% endblock %}
                </section>
            </aside>
            <div class="content-wrapper">
                <section class="content-header">
                    <h1 class="title">{% block page_title %}{{ 'Blank page'|trans }}{% endblock %}</h1>
                    {% block avanzu_breadcrumb %}
                        {{ render(controller('AvanzuAdminThemeBundle:Breadcrumb:breadcrumb', {'request':app.request, 'title' : block('page_title')})) }}
                    {% endblock %}
                </section>
                <section class="content">
                    {# Flashbag messages #}
                    {{ include('AppBundle:Partials:_flash_messages.html.twig') }}

                    {% block page_content %}{% endblock %}
                </section>
            </div>
            {% block avanzu_admin_footer %}
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="contact-us pull-left">
                            <a data-toggle="modal" data-target="#contact-us-modal" class="small text-muted" href="#">{{ 'Contact us'|trans }}</a>
                        </div>
                        <div class="copy pull-right">
                            <strong>&copy; 2015 <a href="mailto:nefedovs89@gmail.com">Sergey Nefedov</a></strong>
                        </div>
                    </div>
                </footer>
            {% endblock %}

            {# Contact form #}
            <div class="contact-us-modal modal fade" id="contact-us-modal" tabindex="-1" role="dialog" aria-labelledby="contactUsLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="contactUsLabel">{{ 'Contact us'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="field-success alert alert-success hidden"></div>
                            <form id="contact-us-form">
                                <div class="form-group">
                                    <div class="field-error alert alert-danger hidden" data-field="email"></div>
                                    <input required type="text" class="form-control" id="email" placeholder="{{ 'Your email'|trans }}">
                                </div>
                                <div class="form-group">
                                    <div class="field-error alert alert-danger hidden" data-field="message"></div>
                                    <textarea required rows="10" class="contact-us form-control" id="message" placeholder="{{ 'Your message'|trans }}"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary submit" value="{{ 'Submit'|trans }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# ----------------------------------------------------------------------------------------------- JAVASCRIPTS_INLINE #}
        {% block javascripts_inline %}
        {% endblock %}
    </body>
</html>
