{% extends "::base.html.twig" %}

{% trans_default_domain 'admin' %}

{% block title %}{{ 'Manage entities'|trans }}{% endblock %}

{% block page_title %}{{ 'Manage Attendances'|trans }}{% endblock %}

{% block page_content %}
    {% if entities is not empty %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'Attendances'|trans }}</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="attendances-dashboard" class="entity-table table table-hover dataTable">
                    <thead>
                        <tr>
                            <th>{{ 'Patient'|trans }}</th>
                            <th>{{ 'Reason'|trans }}</th>
                            <th>{{ 'Attendance date'|trans }}</th>
                            <th>{{ 'Created at'|trans }}</th>
                            <th>{{ 'Updated at'|trans }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <a href="{{ path('patient_show', {'id': entity.patient.id}) }}">
                                    {{ entity.patient.firstName }} {{ entity.patient.lastName }}
                                </a>
                            </td>
                            <td>{{ entity.reason }}</td>
                            <td>{{ entity.date|date('Y-m-d') }}</td>
                            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
                            <td>
                                <a href="{{ path('attendance_edit', {'id': entity.id}) }}" class="label label-info">{{ 'Edit'|trans }}</a>
                                <a href="{{ path('attendance_show', {'id': entity.id}) }}" class="label label-default">{{ 'View'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {{ include('AppBundle:Partials:_entity_not_found_message.html.twig') }}
    {% endif %}
{% endblock %}