<!-- sidebar menu: : style can be found in sidebar.less -->
{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}

{% trans_default_domain 'AvanzuAdminTheme' %}

<ul class="sidebar-menu">
    <li class="header text-center menu-delimiter">{{ 'Main navigation'|trans }}</li>
    {% for item in menu %}
        {{ macro.menu_item(item) }}
    {% endfor %}
</ul>