{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}

{% trans_default_domain 'AvanzuAdminTheme' %}

<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
    {{ macro.avatar(user.avatar, user.username)  }}
    </div>
    <div class="pull-left info">
        <p>{{ user.name }}</p>
    </div>
</div>
